*::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-family: 'Segoe UI', Ubuntu, 'Open Sans';
    letter-spacing: -0.02rem;
    width: auto;
    height: auto;
    min-height: 100vh;
  }
  
  
  
  #img-1 {
    width: 6.25em;
    height: 6.25em;
    border-radius: 50%;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#0d1016 50%, #181921 50%);
    letter-spacing: -0.02rem;
    overflow: hidden;
    height: 100vh;
  
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80vw;
    max-width: 37.5em;
    margin: auto;
    padding: 3em 1.8em;
    border-radius: 0.6em;
    box-shadow: 1.2em 2em 3em rgba(255, 255, 255, 0.2);
    background-color: #040427;
    color: #7a85aa;
  
  }
  
  
  .c-main {
    margin: auto;
  }
  
  
  .container-p {
    text-align: center;
  }
  
  .c-gtw {
    text-align: left;
    font-weight: bold;
    font-size: 23px;
    line-height: 0.0025em;
    display: flex;
  
  }
  
  .c-pirlo {
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    line-height: 0.0025em;
  }
  
  .c-p-pirlo {
    font-size: 19px;
  }
  
  .container-media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
  }
  
  .container-profile {
    display: flex;
    align-items: center;
  
  }
  
  .container-aaaa {
  
  }
  
  .container-name {
    line-height: 0.015;
    margin-inline-start: 1rem;
  
  }
  
  .container-12d {
    display: flex;
    flex-direction: column;
  }
  
  h2 {
    margin: 0;
    font-weight: bold;
    font-size: 1.5em;
  
  }
  
  hr {
    margin: 1% 0;
  }
  
  button {
    background: none;
    box-shadow: var(.container);
    font-weight: bold;
    color: white;
    border-radius: 0.5em;
    padding: 0.1em;
    font-size: 3em;
    
  }
  
  button:hover {
    background-color: white;
    color: black;
  }
  
  .footer {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    opacity: 50%;
  }
  
  
  ::-webkit-scrollbar {
    display: none;
  }
  
  html {

  }

    button {
      background-color: white;
      backdrop-filter: blur(10px);
      color: black;
      padding: ;
      padding-left: 2em;
      padding-right: 2em;
      
      
      border-radius: 0.6em;
      cursor: pointer;
    }

    .c-libox {
      list-style: none;
      padding: 0.6em;
    }

/*modal popup*/


.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 50%; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #202020;
  margin: auto;
  padding: 2vh;
  border: 1px solid white;
  width: 80%;
  text-align: left;
  font-family: system-ui, -apple-system, 'Segoe UI', 'Open Sans', 'Helvetica Neue';
  color: #bebebe;
  
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


.modal-left{
  
  
  
}
